/* ----- ImageCreate -------------- */
#container-ImageCreate {
    height: 100vh;
}

#form-ImageCreate {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    justify-content: center;
}

.input-ImageCreate {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}

#button-ImageCreate {
    width:50%;
    height: 4rem;
    margin: 0 auto;
    box-shadow: 0px 0px 4rem rgb(159, 73, 235);;
}

#explanation-ImageEdit {
    width:50%;
    height: 8rem;
    margin: 0 auto;
    
}

#header-ImageCreate {
    text-align: center;
}