.App {
    background-image: url("./images/space.png");
    
    background-repeat: repeat;
    background-size: contain;
}

/* ----- NavBar -------------- */
#navContainer-Nav {
    display: flex;
    flex-flow: row;
    gap: 4rem;
    justify-content: center;
    font-size: 1rem;
}

#navContainer-Nav:hover {
    font-size: 2.5rem;
}

.link-Nav {
    color:rgb(182, 225, 182);
    font-weight: bold;
    
}
.link-Nav:hover {
    background-color: rgb(197, 136, 56);
}

/* ----- ImageCreate -------------- */
#container-ImageCreate {
    height: 100vh;
}

#form-ImageCreate {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    justify-content: center;
}

.input-ImageCreate {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}

#button-ImageCreate {
    width:50%;
    height: 4rem;
    margin: 0 auto;
    box-shadow: 0px 0px 4rem rgb(159, 73, 235);;
}

#header-ImageCreate {
    text-align: center;
}
/* ----- Home -------------- */
#header-Home {
    text-align: center;
    color: rgb(182, 225, 182);
    font-size: 3rem;
    text-shadow: 0px 0px 20px rgb(159, 73, 235);
}

#images-container-Home {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;

}

/* the div that holds the preview image */
.imageContainer-imagePreview {
    width: 13rem;
    height: 13rem;
    padding: 1vw 1vw;
    box-shadow: 0px 0px 4rem rgb(159, 73, 235);
    backdrop-filter: invert(100%); 
    display: flex;
    justify-content: center;
    
}

/* the img inside the preview div, map to the container */
.image-imagePreview {
    width: 100%;
    height:  100%;
    object-fit: scale-down;
}

/* ---------------- Image -------------------- */
/* header */
#link-Image {
    text-align: center;
    font-size: 3rem;
}
#link-Image:hover {
    background-color: rgb(200,190,100);
}

/* style the video preview */
.video-imageDetail {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    
}
/* style the image detail */
.image-imageDetail {
    display: block;
    margin: 0 auto;
    
    height: 100vh;
    
}

