.App {
    background-image: url("./images/space.png");
    background-repeat: repeat;
    background-size: contain;
}

#images-container-Home {
    
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;

}

/* the div that holds the preview image */
.imageContainer-imagePreview {
   
    width: 13rem;
    height: 13rem;
    padding: 1vw 1vw;
    box-shadow: 0px 0px 4rem rgb(159, 73, 235);
    backdrop-filter: invert(100%); 
    display: flex;
    justify-content: center;
    
}

/* the img inside the preview div, map to the container */
.image-imagePreview {
    width: 100%;
    object-fit: scale-down;
}